.brand-font{
  font-family: 'Fugaz One', cursive;
}

body {
  /* background: white url("images/background.jpg"); */
  color: white;
}

.bg-black{
  background: black;
}

.span-link{
  color: rgb(138, 147, 156);
}

.span-link:hover{
  text-decoration: underline;
  text-decoration-color: cornflowerblue;
  color: cornflowerblue;
  cursor: pointer;
}