{% extends 'core/base.html' %}

{% block body %}

<h3>Müşteri Temsilcisi İşlem Paneli</h3>
<p>Hoşgeldiniz {{ request.user.get_short_name }}</p>

<button id="btn_cd" class="btn btn-sm btn-primary" style="margin-bottom:20px;">Arıza Kaydı Aç</button>

<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Müşteri</th>
            <th scope="col">Cihaz</th>
            <th scope="col">Kayıt Tarihi</th>
            <th scope="col">Tamir Durumu</th>
        </tr>
    </thead>
    <tbody>
        {% for ndx, device in devices %}
        <tr>
            <th scope="row">{{ ndx|add:"1" }}</th>
            <td><span name="customerSpan" class="span-link" url="{% url 'repr:customer_detail' device.customer.id %}">
                    {{ device.customer.fullname }}
                </span></td>
            <td><span name="deviceSpan" class="span-link" url="{% url 'repr:device_detail' device.id %}">
                    {{ device.name }}
                </span></td>
            <td>{{ device.recieved_at }}</td>
            <td>{{ device.repair_status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    document.getElementById("btn_cd").onclick = () => {
        let deviceUrl = "{% url 'repr:device_create' %}";
        window.location.replace(deviceUrl);
    };
</script>
<script>
    // assing customer detail links to spans
    let customerSpans = document.getElementsByName("customerSpan");
    var i;
    for (i = 0; i < customerSpans.length; i++) {
        customerSpans[i].onclick = (function (url) {
            return function () { window.location.href = url; }
        })(customerSpans[i].getAttribute("url"));
    }
</script>
<script>
    // assing device detail links to spans
    let deviceSpans = document.getElementsByName("deviceSpan");
    var j;
    for (j = 0; j < deviceSpans.length; j++) {
        deviceSpans[j].onclick = (function (url) {
            return function () { window.location.href = url; }
        })(deviceSpans[j].getAttribute("url"));
    }
</script>

{% endblock %}